stages:
  - test
  - publish
  - trigger_prep
  - trigger

include:
  - project: 'Northern.tech/Mender/mendertesting'
    file: '.gitlab-ci-github-status-updates.yml'
  - project: 'Northern.tech/Mender/mendertesting'
    file: '.gitlab-ci-check-commits.yml'
  - project: 'Northern.tech/Mender/mendertesting'
    file: '.gitlab-ci-check-license.yml'

variables:
  GIT_SUBMODULE_STRATEGY: recursive

default:
  tags:
    - oslo-xps

tests+coverage:
  stage: test
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/debian:12
  before_script:
    - apt update && apt install -yyq g++ cmake make lcov
  script:
    - cmake -D COVERAGE=ON .
    - make --jobs=$(nproc --all) --keep-going coverage
    - make coverage
  artifacts:
    expire_in: 2w
    paths:
      - coverage.lcov

tests:32bit:
  stage: test
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/debian:12
  before_script:
    - apt update && apt install -yyq g++ g++-multilib cmake make lcov
  script:
    - cmake -D CMAKE_C_FLAGS="-m32" .
    - make --jobs=$(nproc --all) --keep-going
    - make check

tests:static-analysis:
  stage: test
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/debian:12
  before_script:
    - apt update && apt install -yyq g++ g++-multilib cmake make lcov
  script:
    - cmake -D CMAKE_C_FLAGS="-fanalyzer" .
    - make --jobs=$(nproc --all) --keep-going

publish:coverage:
  stage: publish
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/python:3.11
  dependencies:
    - tests+coverage
  before_script:
    # Install dependencies
    - apt update && apt install -yyq lcov
    - pip install cpp-coveralls pyyaml

    # eddyxu/cpp-coveralls appears dead, but there doesn't seem to be an
    # alternative. Use this patch from someone who attempted to fix it. An
    # alternative to this is to use pyyaml<6, but it's better to use just one
    # old component than two.
    - curl -f https://github.com/eddyxu/cpp-coveralls/commit/067c837c04e039e8c70aa53bceda1cded6751408.patch | patch -f /usr/local/lib/python3.11/site-packages/cpp_coveralls/__init__.py

    - export CI_BRANCH=$CI_COMMIT_BRANCH
    # "TRAVIS_JOB_ID" is hardcoded in cpp-coveralls, but it is semantically the
    # same as "CI_JOB_ID" would be.
    - export TRAVIS_JOB_ID=$CI_PIPELINE_ID

  script:
    - 'echo "service_name: gitlab-ci" > .coveralls.yml'
    - cpp-coveralls
      --repo-token ${COVERALLS_TOKEN}
      --no-gcov
      --lcov-file coverage.lcov

